{% extends 'layout.html' %}


{% block content %}

  {% if not user %}
      <div class = "signup valign-wrapper">
        <div class = "container card-panel valign ">
          <h3>{% if signin %}Sign In{% else %}Sign Up{% endif %}</h3>

            <div class="input-field col s12">
              <input id="userid" type="text" class="validate" name = "userid">
              <label for="userid">USER ID</label>
            </div>
            <div class="input-field col s12">
              <input name="pwd" id = "pwd"type="password" class="validate">
              <label for="userpwdid">PASSWARD</label>
            </div>
            {% if not signin %}
            <div class="input-field col s12">
              <input id="name" type="text" class="validate forsignup" name = "usern">
              <label for="usern">NAME</label>
            </div>
            <div class="input-field col s12">
              <input id="email" type="email" class="validate forsignup" name = "email">
              <label for="usern">EMAIL</label>
            </div>
            {% endif %}

            {% if not signin %}
            <span id="error"></span><br>
            <button type="submit" class="btn  forsignin waves-effect waves-light blue lighten-3" id = "create">CREATE</button>
            <button type="submit" class="btn forsignin waves-effect waves-light purple lighten-3" id = "signIn">SIGN IN</button>
            {% else %}
            <span id="error"></span><br>
            <button type="submit" class="btn forsignin waves-effect waves-light blue lighten-3" id = "logIn">LOGIN IN</button>
            <button type="submit" class="btn forsignin waves-effect waves-light purple lighten-3" id = "signUp">SIGN UP</button>
            <a target="_self"
               href="/auth/google"
               class="btn  pink lighten-2 waves-effect waves-light">
            GOOGLE
            </a>
            {% endif %}
        </div>
      </div>
  {% endif %}


  {% if user %}
  <div id={{user.id}}  class = "messager" >
            <div class = "row">
                <div class = "col-md-3  teal lighten-3" >
                    <div class="dropdown">
                        <input type="text" id="searchUser" class="form-control dropdown-toggle " placeholder="Search..."
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" text-align="center"/>
                        <ul class="dropdown-menu" id="showUser" aria-labelledby="searchUser"></ul>
                    </div>
                    <ul id="listUsers">
                    </ul>
                </div>
                <div class="col-md-9   " >
                    <div id="msg-box" style="height:620px;">
                        <ul id="msg"></ul>
                    </div>
                    <input type="text"  id="input-msg" class="form-control  "  placeholder="Message...">

                </div>
            </div>
      </div>






 {% endif %}
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="/js/socket.js"></script>
  <script src="/js/main.js"></script>


{% endblock %}